.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1e9fe0;
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.logo {
  color: white;
  display: flex;
  span {
    margin-left: 5px;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 600px) {
  .logo span {
    font-size: 1em;
  }
}
